node_modules/
.env
logs/
src/uploads/images/*
src/uploads/videos/*
src/uploads/audios/*
src/uploads/files/*
!src/uploads/images/.gitkeep
!src/uploads/videos/.gitkeep
!src/uploads/audios/.gitkeep
!src/uploads/files/.gitkeep
dist/
coverage/
